{% extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}
    {{ form_start(form, {'attr': {'novalidate':'novalidate'}}) }}
        <h3><i class="fa fa-angle-right"></i>&nbsp;Crear Departamento</h3>
        <br />
        <div class="form-horizontal style-form">
            <div class="row mt">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="showback">
                        <h4><i class="fa fa-angle-right"></i>&nbsp;Datos del Departamento:</h4>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">{{ form_label(form.nombre) }}</label>
                            <div class="col-sm-10">
                                {{ form_widget(form.nombre) }}</td> 
                            </div>
                        </div>
                        <br/>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">{{ form_label(form.pais) }}</label>
                            <div class="col-sm-10">
                                {{ form_widget(form.pais) }}</td> 
                            </div>
                        </div>
                        <br/>
                        <div style="text-align: center;">
                            <button type="submit" name="btnaceptar" value="Aceptar" class="btn btn-success" tabindex="3">
                                <i class="fa fa-check"></i>&nbsp;Aceptar
                            </button>&nbsp;
                            <a href="{{ path('departamento_index') }}">
                                <button type="button" name="btncancelar" value="Cancelar" class="btn btn-danger" tabindex="3">
                                    <i class="fa fa-times"></i>&nbsp;Cancelar
                                </button>
                            </a>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    {{ form_end(form) }}  
{% endblock %}
